* {
    margin: 0;
    padding: 0;
}


html,
body {
    overflow: hidden;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: calc(100% - 240px);
    /* Adjust the width based on the Drawer width */
    transition: width 0.3s ease;
    /* Add a smooth transition for resizing */
    z-index: 1;
    /* Bring the viewer above AppBar and Drawer */
}

.sphereIdDisplay {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    top: 500px;
    left: 1200px;
    color: white;
    font-size: 22px;
    pointer-events: none;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.compass {
    width: auto;
    height: auto;
    position: absolute;
    background-size: cover;
    transform-origin: center center;
    transition: transform 0.5s ease;
    top: 130px;
    /* Adjust the top position to be below the AppBar */
    left: 240px;
    /* Set it to the Drawer width */
    z-index: 1;
    /* Bring the compass below AppBar but above the viewer */
}


span {
    display: grid;
}

.floorimage:hover {

    opacity: 0.8;
    border: 2px solid red;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Ensure the AppBar is on top */
}

#clipped-drawer {
    position: fixed;
    top: 64px;
    /* Height of the AppBar */
    left: 0;
    width: 240px;
    /* Width of the Drawer */
    height: 100%;
    /* Full height of the viewport */
    z-index: 900;
    /* Lower z-index than AppBar */
}

#root {
    position: relative;
    /* Ensure proper positioning of the Viewer */
    margin-left: 240px;
    /* Width of the Drawer */
    padding-top: 64px;
    /* Height of the AppBar */
    z-index: 1100;
    /* Higher z-index than AppBar and Drawer */
}